@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 345 71% 98%; /* #fef7f9 */
    --foreground: 348 8% 27%; /* #4b3f41 */
    --card: 0 0% 100%;
    --card-foreground: 348 8% 27%;
    --popover: 0 0% 100%;
    --popover-foreground: 348 8% 27%;
    --primary: 348 78% 78%; /* #f3aab9 */
    --primary-foreground: 348 8% 20%;
    --secondary: 354 63% 92%; /* #f7dfe1 */
    --secondary-foreground: 348 8% 27%;
    --muted: 349 11% 49%; /* #8b6f74 */
    --muted-foreground: 349 11% 65%;
    --accent: 17 71% 86%; /* #F4C7B4 */
    --accent-foreground: 348 8% 27%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 354 63% 92%;
    --input: 354 63% 94%;
    --ring: 348 78% 78%;
    --radius: 1rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  html {
    scroll-behavior: smooth;
  }
  .dark {
    --background: 348 10% 10%;
    --foreground: 350 30% 92%;
    --card: 348 10% 15%;
    --card-foreground: 350 30% 92%;
    --popover: 348 10% 15%;
    --popover-foreground: 350 30% 92%;
    --primary: 348 78% 78%;
    --primary-foreground: 348 8% 20%;
    --secondary: 348 10% 25%;
    --secondary-foreground: 350 30% 92%;
    --muted: 348 10% 35%;
    --muted-foreground: 350 20% 70%;
    --accent: 17 71% 86%;
    --accent-foreground: 348 10% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 348 10% 30%;
    --input: 348 10% 25%;
    --ring: 348 78% 78%;
    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
